<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- My sheets -->
    <link rel="stylesheet" href="../Style/style.css">
    <link rel="stylesheet" href="../Style/navbar.css">
    <!-- google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Slick Slider JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
    <header class="header">
        <h1>My Work In Progress</h1>
        <h2>Lúcia Luciano</h2>
        <span class="flower"></span>
    </header>
    <nav class="main-nav">
        <div class="burger-icon"><span class="material-icons">menu</span></div>
        <ul>
            <li><a href="aboutMe.html">About Me</a></li>
            <li><a href="cv.html">Qualification and Work Experience</a></li>
            <li><a href="myInterests.html">My Interests</a></li>
            <li><a href="myProjects.html">My Projects</a></li>
        </ul>
    </nav>
    <span class="header-spacing"></span>
    <section class="about-me">
        <div>
            <h2>About Me</h2>
            <span class="divider"></span>
            <!-- Introduction -->
            <p>
                Hi, my name is Lúcia and I am a highly motivated and self-driven individual. I also enjoy learning new skills and I am determined to adapt to new environments. 
I have a passion for the marine environment which led me to study Marine and Freshwater Biology (BSc) and Biosciences (MRes) at Aberystwyth Univerisity. 
I have always had an eye for detail and I do love organisation. Throughout my academic journey I have developed excellent time management skills which, along with my love for organisation, allows me to multi-task effectively and meet multiple deadlines with precision. 
            </p>
            <br>
            <!-- More formal to get to know you better -->
            <p>
                My experience in scientific research has equipped me with the ability to collect, record and analyse both field and laboratory data. During this time, I have sharpened my skills in handling large data sets in an organised manner and I have learnt to analyse and present findings using Microsoft Office, DNASP, PopArt, Mega, and R for map creation. Additionally I have gained extensive experience writing reports to reveal each study’s findings, demonstrating my keen attention for detail and ability to convey complex information clearly. 
            </p>
            <br>
            <!-- Informal information about yourself -->
            <p>
                Beyond my academic and professional pursuits, I have many interests that reflect my passion for creativity and exploration. I am originally from Alentejo, Portugal, a region known for its slow way of living as well as its views and wildlife. I relocated to the UK as a teenager, where I have been embracing new experiences. 
I enjoy spending time outdoors, whether it is hiking, exploring nature or simply enjoying the weather. I love finding new hobbies, like drawing, painting and crochet. However, I do find that baking is a favourite of mine, as it allows me to both relax and unwind as well as be creative while experimenting with different recipes.
            </p>
            <br>
            <!-- Final paragraph -->
            <p>
                With a strong commitment to continuous learning and excellence, I am eager to apply my skills and
                adaptability to new challenges and opportunities.
            </p>
        </div>
    </section>


    <script src="../../Controller/scrollToView.js"></script>
    <script src="../../Controller/addSVG.js"></script>
    <script src="../../Controller/navBar.js"></script>
    <script src="../../Controller/carousels.js"></script>
</body>

</html>