<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Style/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <header class="header">
        <h1>My Work In Progress</h1>
        <h2>Lúcia Luciano</h2>
        <span class="flower"></span>
    </header>
    <nav class="main-nav">
        <ul>
            <li><a href="aboutMe.html">About Me</a></li>
            <li><a href="cv.html">Qualification and Work Experience</a></li>
            <li><a href="myInterests.html">My Interests</a></li>
            <li><a href="myProjects.html">My Projects</a></li>
        </ul>
    </nav>
    <span class="header-spacing"></span>
    <section class="about-me">
        <div>
            <h2>About Me</h2>
            <span class="divider"></span>
            <!-- Formal introduction -->
            <p>
                My name is Lucia, and I am a highly motivated former postgraduate student with a proven ability to adapt
                effectively to new environments. I possess exceptional attention to detail and have consistently
                demonstrated the ability to deliver high-quality outcomes while adhering to deadlines through exemplary
                time management and organizational skills.
            </p>
            <br><br>
            <!-- More formal to get to know you better -->
            <p>
                Outside of my academic pursuits, I have a variety of interests that reflect my love for creativity and
                exploration. Originally from Portugal, I moved to the UK, where I continue to embrace new experiences. I
                am passionate about reading, which allows me to expand my knowledge and unwind. In addition, I enjoy
                baking, finding it both a relaxing hobby and a way to express creativity through different recipes. I
                also appreciate spending time outdoors, whether it’s hiking, exploring nature, or simply enjoying the
                fresh air, as it helps me recharge and maintain a healthy balance in life.
            </p>
        </div>
    </section>
    <section class="my-cv">
        <div>
            <h2>Download My CV</h2>
            <span class="divider"></span>
            <!-- My CV -->
            <p>
                To quickly access my CV you can download it from here or look in my <a href="cv.html">qualification and
                    work exprience</a>
            </p>
            <br>
            <!-- Download Button -->
            <!-- <a href="/View/Download Files/test.txt" download>
                <button>Download File</button>
            </a> -->
        </div>
    </section>


    <script src="../../Controller/scrollToView.js"></script>
    <script src="../../Controller/addSVG.js"></script>
</body>

</html>