<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- My sheets -->
    <link rel="stylesheet" href="../Style/style.css">
    <link rel="stylesheet" href="../Style/navbar.css">
    <!-- google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Slick Slider JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
    <header class="header">
        <h1>My Work In Progress</h1>
        <h2>Lúcia Luciano</h2>
        <span class="flower"></span>
    </header>
    <nav class="main-nav">
        <div class="burger-icon"><span class="material-icons">menu</span></div>
        <ul>
            <li><a href="aboutMe.html">About Me</a></li>
            <li><a href="cv.html">Qualification and Work Experience</a></li>
            <li><a href="myInterests.html">My Interests</a></li>
            <li><a href="myProjects.html">My Projects</a></li>
        </ul>
    </nav>
    <span class="header-spacing"></span>
    <section class="about-me">
        <div>
            <h2>About Me</h2>
            <span class="divider"></span>
            <!-- Introduction -->
            <p>
                My name is Lucia, and I am a highly motivated and self-driven individual with a strong passion for
                learning and adapting to new environments. I hold an MRes in Biosciences (Distinction) from Aberystwyth
                University and a BSc in Marine and Freshwater Biology (Upper Second-Class Honours, 2:1). Throughout my
                academic journey, I have developed excellent time management and organizational skills, enabling me to
                multitask effectively and meet multiple deadlines with precision.
            </p>
            <br>
            <!-- More formal to get to know you better -->
            <p>
                My experience in scientific research has equipped me with the ability to collect, record, and analyze
                field and laboratory data efficiently. I have honed my skills in handling large datasets in an organized
                manner and presenting findings using Microsoft Office, DNASP, PopArt, Mega, and R for map creation.
                Additionally, I have gained experience in writing consultancy and scientific reports, demonstrating my
                keen attention to detail and ability to convey complex information clearly.
            </p>
            <br>
            <!-- Informal information about yourself -->
            <p>
                Beyond my academic and professional pursuits, I have a variety of interests that reflect my love for
                creativity and exploration. Originally from Portugal, I relocated to the UK, where I continue to embrace
                new experiences. I am passionate about reading, as it allows me to expand my knowledge and unwind. I
                also enjoy baking, finding it both a relaxing hobby and a creative outlet for experimenting with
                different recipes. Spending time outdoors, whether hiking, exploring nature, or simply enjoying the
                fresh air, is another way I recharge and maintain a healthy balance in life.
            </p>
            <br>
            <!-- Final paragraph -->
            <p>
                With a strong commitment to continuous learning and excellence, I am eager to apply my skills and
                adaptability to new challenges and opportunities.
            </p>
        </div>
    </section>
    <section class="my-cv">
        <div>
            <h2>Download My CV</h2>
            <span class="divider"></span>
            <!-- My CV -->
            <p>
                To quickly access my CV you can view it by clicking the button below or look in my <a
                    href="cv.html">qualification and
                    work exprience</a> section where I have a more in depth explanation of my education, work experience
                and qualifications!
            </p>
            <br>
            <!-- View CV Button -->
            <button class="button-1 download-button"
                onclick="window.open('../Related Files/test.txt', '_blank')">View my CV</button>
        </div>
    </section>


    <script src="../../Controller/scrollToView.js"></script>
    <script src="../../Controller/addSVG.js"></script>
    <script src="../../Controller/navBar.js"></script>
    <script src="../../Controller/carousels.js"></script>
</body>

</html>