<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- My sheets -->
    <link rel="stylesheet" href="../Style/style.css">
    <link rel="stylesheet" href="../Style/navbar.css">
    <!-- google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Slick Slider JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
    <header class="header">
        <h1>My Work In Progress</h1>
        <h2>Lúcia Luciano</h2>
        <span class="flower"></span>
    </header>
    <nav class="main-nav">
        <div class="burger-icon"><span class="material-icons">menu</span></div>
        <ul>
            <li><a href="aboutMe.html">About Me</a></li>
            <li><a href="cv.html">Qualification and Work Experience</a></li>
            <li><a href="myInterests.html">My Interests</a></li>
            <li><a href="myProjects.html">My Projects</a></li>
        </ul>
    </nav>
    <nav class="subnav">
        <ul>
            <li><span class="subnav-quick-access">Quick access...</span></li>
            <li><span class="subnav-education subnav-option">Education</span></li>
            <li><span class="subnav-work subnav-option">Work Experience and Employment History</span></li>
            <li><span class="subnav-skills subnav-option">My Skills</span></li>
            <li><span class="subnav-additional subnav-option">Additonal Qualifications</span></li>
        </ul>
    </nav>
    <span class="header-spacing"></span>
    <!-- EDUCATION -->
    <section class="education">
        <div>
            <h2>Education<span class="material-icons">school</span></h2>
            <span class="divider"></span>

            <h3>MRes Biosciences, Aberystwyth University</h3>
            <p>2023 – 2024 (Distinction)</p>
            <ul>
                <li><strong>Thesis:</strong> Using genetics to inform the conservation of the African penguin,
                    <em>Spheniscus demersus</em>.
                </li>
                <li><strong>Relevant academic work:</strong> Participated in seabird and pine marten surveys around
                    Aberystwyth, identifying species and the presence of individuals.</li>
            </ul>

            <h3>BSc (Hons) Marine and Freshwater Biology, Aberystwyth University</h3>
            <p>2020 – 2023 (2.1)</p>
            <ul>
                <li><strong>Dissertation:</strong> The genome mining of crustacean clock genes of the common crab,
                    <em>Carcinus maenas</em>.
                </li>
                <li><strong>Modules:</strong> Applied Aquatic Conservation; Marine Biology; Freshwater Biology;
                    Population
                    and Community Ecology; Marine and Freshwater Field Course; Behavioural Neurobiology.</li>
            </ul>

            <h3>The Friary School, Lichfield, UK</h3>
            <p>2015 – 2020</p>
            <ul>
                <li>Achieved 3 A-Levels in Biology, Chemistry, and Maths.</li>
                <li>Completed GCSEs, achieving a grade 6 in Maths and both English Language and Literature, and a grade
                    7 in
                    Combined Sciences.</li>
                <li><strong>Additional:</strong> Supported the learning of year-6 students during transition days and
                    mentored year-8 students in Maths and English during sixth form.</li>
            </ul>
        </div>
    </section>
    <!-- WORK EXPERIENCE -->
    <section class="work-experience">
        <div>
            <h2>Work Experience<span class="material-icons">business_center</span></h2>
            <span class="divider"></span>

            <h3>Warehouse Operative, Newell, Fradley Park</h3>
            <p>2022-2023 (June – September only); (August 2024 – present)</p>
            <ul>
                <li>Operated a flexible shift of 8 hours, working closely with a team of 4-8 people to achieve daily
                    tasks.
                </li>
                <li>Built and stocked an average of 20 stands daily for a range of large retailers.</li>
            </ul>

            <h3>Open-day Ambassador, Aberystwyth University</h3>
            <p>October 2023 – July 2024</p>
            <ul>
                <li>Leading tours and guiding people to open day events.</li>
                <li>Public speaking and being part of a team to ensure daily events run smoothly.</li>
            </ul>

            <h3>Warehouse Operative, Wincanton, Fradley Park</h3>
            <p>2020-2021 (June – September)</p>
            <ul>
                <li>Showed resilience and fitness by operating 8-hour shifts in a challenging environment during warm
                    summer
                    days.</li>
                <li>Identified and processed multiple industrial waste efficiently by allocating it to correct disposal
                    bailers.</li>
                <li>Demonstrated the ability to work under pressure by processing over 10 returning trailers each day
                    and
                    gaining good feedback from supervisors.</li>
            </ul>
        </div>
    </section>
    <!-- SKILLS -->
    <section class="my-skills">
        <div>
            <h2>My Skills<span class="material-icons">list_alt</span></h2>
            <span class="divider"></span>

            <h3>Communication</h3>
            <ul>
                <li>Great oral communication when presenting as well as when talking to people from different
                    backgrounds.</li>
            </ul>

            <h3>Teamwork and Independence</h3>
            <ul>
                <li>Friendly collaborator able to work as part of a team with members of various backgrounds.</li>
                <li>Able to complete projects independently and to adapt to challenges found in the day-to-day basis.
                </li>
            </ul>

            <h3>Process Improvement and Organisational</h3>
            <ul>
                <li>Great time management and process improvement skills.</li>
                <li>Multi-tasking skills to meet deadlines and work more efficiently.</li>
            </ul>

            <h3>IT Skills</h3>
            <ul>
                <li>Microsoft Office including PowerPoint, Word, and Excel.</li>
                <li>Genetics: BioEdit, MEGA, DNASP, PopArt, and R studio.</li>
                <li>Statistics: SPSS.</li>
            </ul>

            <h3>Laboratory and Fieldwork Skills</h3>
            <ul>
                <li>DNA extraction and analysis.</li>
                <li>Conducting behavioral trials.</li>
                <li>Great observational skills and an eye for detail.</li>
                <li>Species ID using dichotomous keys.</li>
            </ul>

            <h3>Literature Research</h3>
            <ul>
                <li>Identification of relevant information used to gather information required for report writing and
                    reviewing literature.</li>
            </ul>

        </div>
    </section>
    <!-- ADDITIONAL SKILLS -->
    <section class="additional">
        <div>
            <h2>Additional Skills and Qualifications<span class="material-icons">add_circle</span></h2>
            <span class="divider"></span>
            <h3>Languages</h3>
            <ul>
                <li>Portuguese (native)</li>
                <li>English (proficient)</li>
            </ul>
            <h3>Certificates and Licenses</h3>
            <ul>
                <li>Full UK-driving Licence</li>
                <li>PADI Open Water Diver</li>
            </ul>
        </div>
    </section>


    <script src="../../Controller/scrollToView.js"></script>
    <script src="../../Controller/addSVG.js"></script>
    <script src="../../Controller/navBar.js"></script>
    <script src="../../Controller/carousels.js"></script>
</body>

</html>