<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Style/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <header class="header">
        <h1>My Work In Progress</h1>
        <h2>Lúcia Luciano</h2>
        <span class="flower"></span>
    </header>
    <nav class="main-nav">
        <ul>
            <li><a href="aboutMe.html">About Me</a></li>
            <li><a href="cv.html">Qualification and Work Experience</a></li>
            <li><a href="myInterests.html">My Interests</a></li>
            <li><a href="myProjects.html">My Projects</a></li>
        </ul>
    </nav>
    <span class="header-spacing"></span>
    <!-- Intro -->
    <section class="my-interests">
        <div>
            <h2>My Interests</h2>
            <span class="divider"></span>
            <p>
                I enjoy baking and the process of turning simple ingredients into something tasty and comforting. I also
                appreciate spending time outdoors, whether it’s walking in nature or just taking in the fresh air.
                Reading is another interest of mine; I like exploring different genres and learning from a variety of
                perspectives. I’ve always had a soft spot for animals, too—they add a sense of warmth and connection to
                life. These interests keep me balanced and provide a nice mix of creativity, relaxation, and curiosity.
            </p>
        </div>
    </section>
    <!-- Baking -->
    <section class="baking">
        <div>
            <h2>Baking</h2>
            <span class="divider"></span>
            <div class="cake-grid">
                <!-- Cake 1 -->
                <div class="baked-item">
                    <div class="baked-picture"><img src="../Images/pao_de_lo.jpg" alt="Portuguese sponge cake"></div>
                    <div class="baked-description">
                        <div>
                            <h3>Pão de Ló</h3>
                            <p>This is a Portuguese sponge cake that I made for my brother's birthday. I lightly
                                decorated
                                it
                                with vanilla buttercream and my brother's favourite fruits as well as flaked almonds.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Cake 2 -->
                <div class="baked-item">
                    <div class="baked-picture"><img src="../Images/1977.jpg" alt="1977 sponge cake"></div>
                    <div class="baked-description">
                        <div>
                            <h3>1977 Cake</h3>
                            <p>This is some placeholder text that I made up. All I know about this text is that it was
                                Lucias dad's birthday cake. I will get the correct information at some point.</p>
                        </div>
                    </div>
                </div>
                <!-- Cake 3 -->
                <div class="baked-item">
                    <div class="baked-picture"><img src="../Images/drunk_barbie.jpg" alt="Drunk Barbie cake"></div>
                    <div class="baked-description">
                        <div>
                            <h3>Drunk Barbie Cake</h3>
                            <p>This cake was made for an 18th Birthday.</p>
                        </div>
                    </div>
                </div>
                <!-- Cake 4 -->
                <div class="baked-item">
                    <div class="baked-picture"><img src="../Images/fruit_cake.jpg" alt="Fruit sponge cake"></div>
                    <div class="baked-description">
                        <div>
                            <h3>Fruit Cake</h3>
                            <p>This cake is a fruit cake.</p>
                        </div>
                    </div>
                </div>
                <!-- Cake 5 -->
                <div class="baked-item">
                    <div class="baked-picture"><img src="../Images/christmas_log.jpg" alt="Fruit sponge cake"></div>
                    <div class="baked-description">
                        <div>
                            <h3>Christmas Log Cake</h3>
                            <p>This cake is a christmas log cake.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Reading -->
    <section class="reading">
        <div>
            <h2>Reading</h2>
            <span class="divider"></span>
            <p>
                I enjoy reading a range of genres of books both fiction and non-fiction. Some of my favourites are:
            </p>
            <ul>
                <li><a>Book 1 - <span class="book-author">author</span></a></li>
                <li><a>Book 2 - <span class="book-author">author</span></a></li>
                <li><a>Book 3 - <span class="book-author">author</span></a></li>
                <li><a>Book 4 - <span class="book-author">author</span></a></li>
                <li><a>Book 5 - <span class="book-author">author</span></a></li>
            </ul>
        </div>
    </section>


    <script src="../../Controller/scrollToView.js"></script>
    <script src="../../Controller/addSVG.js"></script>
</body>

</html>